body {
  background-image: url(./images/pb.jpg);
  margin: 0;
  display: flex;
  text-align: center;
  color: grey;
  font-family: Fixed, monospace;
  padding-bottom: 60px;
}

ul {
  list-style-type: none;
}

.App-header {
  font-size: 40px;
}

table {
  margin-left: 200px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.main-footer {
  color: black;
  position: fixed;
  bottom: 0;
  height: 120px;
  text-align: right;
  width: 100%;
  margin-left: -50px;
}
