body {
  background-image: url(./images/pb.jpg);
  margin: 0;
  display: flex;
  text-align: center;
  min-height: 100vh;
  color: grey;
  font-family: Fixed, monospace;
}

ul {
    list-style-type: none;
}

.App-header {
  font-size: 40px;
}

table {
  margin-left: 200px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.main-footer {
  position: absolute;
  left:0;
  bottom:0;
  right:0;
  text-align: center;
  width: 100%;
}
